/*blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul{padding:0;margin:0}table{border-collapse:collapse;border-spacing:0}abbr,acronym,fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-weight:400;font-style:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%}q:after,q:before{content:''}*/


@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/ofont.ru_Myriad Pro.ttf');
}


body {
    background: #d2d2d2;
}
header {
    height: 99px;
    background: url(image/Background-texture.png) rgba(60, 61, 62, 0.73);
    padding-top: 25px;
    padding-bottom: 53px;
    border-radius: 5px;
    /*line-height: 0px;*/
}
header h1 {
    font-size: 24px;
    float: right;
}
header .layout-positioner {
    max-width: 1000px;
    margin: 0 auto;
}
header .logo-sign {
    width: 255px;
    position: relative;

}
header img {
    
    float: left;    
}

header p {
    font-size: 34px;
    font-family: "Myriad Pro";
    color: rgb( 25, 25, 25 );
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.869;
    text-align: left;
    text-shadow: 0.01px 0.01px 0.5px rgb( 255, 255, 255 );
    margin-left: 20px;
}
main .layout-positioner2 {
    max-width: 1000px;
    margin: 25px auto;    
}
.container {
    background: #bebebe;
    padding: 10px;
    box-shadow: 3px 3px 3px #afafaf;
    border-radius: 5px;
}
.container li {
    list-style: disc;
    color: #714e4e;
}

.box {
    width: 400px;
    display: inline-block;
    margin: 49px 49px 0 49px;
}
.

footer {
    background: url(image/Header-texture.png) #232426;
    clear: both;
    margin-top: 25px;
    padding-bottom: 15px;
}
.layout-positioner1{
    max-width: 1000px;
    margin: 0 auto;
}

footer p {
    text-align: center;
    color: #4e4e4e;
    font: 400 12px / 48px Arial;
}

